<html>
  <body>
    {{ plot_script | safe }}
  </body>
</html>







<!-- <!DOCTYPE html>
<html>

<head>
    <title>Bar Charts with Bokeh</title>

    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css">
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css">
</head>


<body>
    <h1>Bugs found over the last {{ bars_count }} days</h1>


    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>


    {{ plot_script|safe }}
</body>

</html>
 -->